body {
    font-family: 'Lora', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #f8f0f5; /* Fondo pastel suave */
    text-align: center;
    overflow-x: hidden;
    font-size: 3vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f7c6d0; /* Rosa pastel para el header */
    color: #fff;
    padding: 0.5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-family: 'Courgette', cursive;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #f09bc7; /* Rosa suave para el título */
}

nav {
    padding: 0 10%;
    display: none;
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    color: #f09bc7; /* Rosa pastel para los enlaces */
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e1769a; /* Rosa más fuerte para hover */
}

#menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    right: 2%;
    z-index: 1002;
    padding: 0;
}

#menu-button img {
    width: 1.5rem;
    height: auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#fullscreen-menu {
    display: none;
    position: fixed;
    top: 5%;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #f7c6d0;
    z-index: 1000;
    text-align: left;
    padding-top: 2%;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

#fullscreen-menu.open {
    display: block;
    transform: translateX(0);
}

#fullscreen-menu ul {
    list-style: none;
    padding: 0;
}

#fullscreen-menu ul li {
    margin: 10% 5%;
}

#fullscreen-menu ul li a {
    color: #f09bc7; /* Rosa pastel para los enlaces del menú */
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s;
}

#fullscreen-menu ul li a:hover {
    color: #e1769a; /* Rosa más fuerte para hover */
}

#fullscreen-menu footer {
    margin: 15% 0;
    color: #f09bc7;
    font-size: 1rem;
    text-align: center;
}

#fullscreen-menu footer a {
    color: #f09bc7;
    text-decoration: none;
    transition: color 0.3s;
}

#fullscreen-menu footer a:hover {
    color: #e1769a; /* Rosa más fuerte para hover */
}

@media (min-width: 768px) {
    nav {
        display: block;
    }

    #menu-button {
        display: none;
    }

    #fullscreen-menu {
        display: none;
    }

    body {
        font-size: 3vh;
    }

    header h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 2vh;
    }

    header h1 {
        font-size: 1.5rem;
    }

    #menu-button {
        display: flex;
    }

    #fullscreen-menu {
        display: none;
    }
}

#container {
    padding-top: 5%;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    background-attachment: fixed; /* Fondo fijo */
}

#content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco para el contenido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

#imagen-apertura {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del radio */
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #f09bc7; /* Rosa pastel para los títulos */
}

button {
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #f09bc7; /* Rosa pastel para los botones */
    border: 2px solid #f09bc7; /* Rosa pastel para los bordes del botón */
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #e1769a; /* Rosa más fuerte de fondo en hover */
    color: #ffffff; /* Texto blanco en hover */
}

.section {
    margin-top: 20px;
    padding-bottom: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup-content {
    background-color: rgba(255, 192, 203, 0.9); /* Rosa pastel para el fondo del popup */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.popup-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.popup-text {
    margin-top: 20px;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: #f09bc7; /* Rosa pastel para el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

@media screen and (max-width: 1080px) {
    #container {
        padding: 10px;
    }

    #content {
        padding: 10px;
    }

    .popup {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup-content {
        padding: 10px;
        max-width: 90%;
        margin: 0 auto;
    }

    .popup-text {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #f09bc7; /* Rosa pastel para el texto */
    }

    .close-btn {
        font-size: 20px;
    }
}
